##############################
## Folders                  ##
##############################
target
.settings
*.log
*.log.*
bin
log

##############################
## project files            ##
##############################
vim.exe.stackdump
.project
.classpath
.factorypath
.idea
*.iml
*.pdb
*.DS_Store